<div>
    <div class="row">
        <article ng-repeat="article in articles" class="col-md-12">
            <h2>{{article.title}}</h2>
            <span class="glyphicon glyphicon-user">{{article.author}}</span>
            <span class="glyphicon glyphicon-time">{{article.date | date:'dd-MM-yyyy'}}</span>
            <img ng-src="{{article.image}}" class="img-responsive" alt="{{article.title}}"/>
            {{article.content}}
        </article>
    </div>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Add article
    </button>

</div>